extends ../css-js
block body
    .container
        .row
            #login.col-sm-6.col-md-4.col-md-offset-4
                h1.text-center.login-title Login
                    .spacer
                    .account-wall
                        form(class='form-signin', action='/login', method='POST')
                            input(type='text', name='username' class='form-control', placeholder='Username',required, autofocus)
                            input(type='password', name='password' class='form-control', placeholder='Password', required)
                            button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in
                            span.clearfix
                    .spacer
                    a(href='/register', class='text-center new-account') Create an account
                    #message
                    if message
                        h3.text-center.error-message #{message}