extends ../css-js
block body
    .container
        .row
            #login.col-sm-6.col-md-4.col-md-offset-4
                h1.text-center.login-title Registration Details
                    .spacer
                    .signup-wall
                        form(class='form-signin', action='/register', method='POST')
                            input(type='text', name='username', class='form-control', placeholder='Username',required, autofocus)
                            input(type='password', name='password', class='form-control nomargin', placeholder='Password', required)
                            input(type='text', name='nickname', class='form-control', placeholder='Nickname',required)
                            button(class='btn btn-lg btn-primary btn-block', type='submit') Register
                            span.clearfix
                    #message
                        if message
                            h1.text-center.error-message #{message}