.container-fluid.height-width
    .container-fluid
        .row-fluid(style="height:30")
        .row-fluid.profile-pic-container
            img.img-circle.center-block.profile-pic(src='http://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg', alt='Profile picture')
    .container-fluid.spacer.height-width
        .row-fluid
            a.btn.center-block.btn-danger(href='/logout')
                span.glyphicon.glyphicon-ban-circle   Logout
        .row-fluid
            a.btn.center-block.btn-primary(href='/profile', style='margin-top:50%;')
                span.glyphicon.glyphicon-user   Profile
        .row-fluid
            a.btn.center-block.btn-success(href='/home')
                span.glyphicon.glyphicon-list   Files
        .row-fluid
            a.btn.center-block.btn-warning(href='/edit/1')
                span.glyphicon.glyphicon-pencil  Code Editor
        .row-fluid
            input#secret.form-control(type='text', placeholder='Background', style='margin-top:40%;')
        .row-fluid
            a#secret-button.btn.center-block.btn-primary(href='#') Search