extends css-js
block body
    #wrapper.height-width
        #sidebar-wrapper.height-width
            include includes/menu
        #page-content-wrapper.height-width-no-overflow
            .container-fluid.height-width-no-overflow
                .container-fluid
                    .row-fluid
                        a#menu-toggle.btn.btn-default(href='#menu-toggle')
                            span#btn-gliph.glyphicon.glyphicon-menu-hamburger
                        block top-bar
                .container-fluid.height-width
                    block main-content
                include includes/footer