extends ../main-layout
block main-content
    .container-fluid.height-width
        .row-fluid.spacer2
            input#debug-input(type='text' style="width:100%;")
        .row-fluid.spacer2
            a#debug-button.btn.left-block.btn-primary(href='#') Debug
        .row-fluid.height-width.spacer2
            textarea#debug-output(style='height:100$; width:100%')

