// The code editor template
extends ../main-layout
// inside row-fluid
block top-bar
    .btn-group(role='group')
        button#twilight-theme.btn.btn-default(type='button') Twilight
        button#cobalt-theme.btn.btn-default(type='button') Cobalt
        button#dark-theme.btn.btn-default(type='button') Dark
        button#cloud-theme.btn.btn-default(type='button') Cloud
    .dropdown.pull-right
        button#p-lan-chosen.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
            | Select a programming language
            span.caret
        ul.dropdown-menu(aria-labelledby='prog-languages')
            li.p-lan
                a(href='#') Python
            li.divider(role='separator')
            li.p-lan
                a(href='#') Javascript
            li.divider(role='separator')
            li.p-lan
                a(href='#') Haskell
            li.divider(role='separator')
            li.p-lan
                a(href='#') Java
// inside cont fluid 100 % height
block main-content
    .container-fluid.height-width.opacity
        .container-fluid.height-width.spacer2
            .row-fluid.height-width
                .col-md-7.height-width
                    ul.nav.nav-tabs
                        li.active
                            a(data-toggle='tab', href='#home')
                                | Home
                                span.glyphicon.minifier.glyphicon-remove.tab-close
                        li
                            a(data-toggle='tab', href='#menu2')
                                | Very Long Text File name .py .java .c .hs
                                span.glyphicon.minifier.glyphicon-remove.tab-close
                    .tab-content.height-width
                        #home.tab-pane.fade.in.active.height-width
                            pre#editor.height-width #{fileContent}
                .col-md-5.height-width.spacer
                    .container-fluid.height-width
                        .row-fluid
                            input#compile.btn(type='submit', value='Compile & Execute', name='compile')
                        .row-fluid(style='height: 45%;')
                            h4(style='position: absolute; color:#3954b7; top: 10%; left: 5%;') Standard output:
                            #std-out
                        .row-fluid(style='height: 45%;')
                            h4(style='position: absolute; color:#CC0000; left:5%;right:0;top:43%;bottom:0; overflow-y: auto')
                                | Errors:
                            #std-err
    script(type='text/javascript').
        var fileId='#{fileId}';
                
