extends ../main-layout
block main-content
    .row-fluid.height-width-no-overflow.opacity.spacer
        .col-md-5.col-md-offset-4.height-width-no-overflow
            .input-group
                input#filename-add.form-control(type='text', placeholder='Type name of the file here!')
                span.input-group-btn
                    button#add-file-button.btn.btn-primary(type='button') Add
            ul#list-of-files.list-group
                a
                    li.list-group-item Factorial.py
                        span.glyphicon.minifier.glyphicon-remove.tab-close.file-del
                a
                    li.list-group-item Fractal.java
                        span.glyphicon.minifier.glyphicon-remove.tab-close.file-del
                a
                    li.list-group-item Robot.hs
                        span.glyphicon.minifier.glyphicon-remove.tab-close.file-del