extends ../main-layout
block main-content
    .row-fluid.height-width-no-overflow.opacity.spacer
        .col-md-5.col-md-offset-4.height-width-no-overflow
            .input-group(style="margin-top:50%;")
                span#basic-addon1.input-group-addon.glyphicon.glyphicon-user
                input.form-control(type='text', placeholder='Username', aria-describedby='basic-addon1')
            .input-group
                span#basic-addon2.input-group-addon.glyphicon.glyphicon-sunglasses
                input.form-control(type='text', placeholder='Nickname', aria-describedby='basic-addon1')
            .input-group
                span#basic-addon3.input-group-addon.glyphicon.glyphicon-option-horizontal
                input.form-control(type='text', placeholder='Current Password', aria-describedby='basic-addon1')
            .input-group
                span#basic-addon4.input-group-addon.glyphicon.glyphicon-option-horizontal
                input.form-control(type='text', placeholder='New Password', aria-describedby='basic-addon1')
            button#add-file-button.btn.btn-primary.center-block(type='button') Apply